@import 'tailwindcss';

::selection {
  background: var(--foreground);
  color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ffffff;
    --accent: #ff9a9a;
  }
}

body {
  font-family: 'JetBrains Mono', monospace;
  background: var(--background);
  color: var(--foreground);
  user-select: none;
}

* {
  user-select: none;
}
