@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #18181b;
  --accent: #ff9a9a;

  --font-body: var(--font-inter);
  --font-heading: var(--font-fraunces);
  --font-mono: var(--font-jetbrains);

  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ffffff;
    --accent: #ff9a9a;

    --font-body: var(--font-inter);
    --font-heading: var(--font-fraunces);
    --font-mono: var(--font-jetbrains);
  }
}

body {
  font-family: var(--font-body);
  background: var(--background);
  color: var(--foreground);
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fraunces);
}

.sub-text,
code,
pre {
  font-family: var(--font-mono);
  color: #a1a1aa;
}
