@import 'tailwindcss';

/* selection */
::selection {
  background: var(--foreground);
  color: var(--background);
}

/* light mode defaults */
:root {
  --background: #ffffff;
  --foreground: #18181b;
  --accent: #ff9a9a;

  --font-body: var(--font-montserrat);
}

/* dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ffffff;
    --accent: #ff9a9a;

    --font-body: var(--font-montserrat);
  }
}

/* global usage */
body {
  font-family: var(--font-body);
  background: var(--background);
  color: var(--foreground);
  user-select: none;
}
